Django==4.2.7
opencv-python>=4.8.0
mediapipe==0.10.21
pyautogui==0.9.54
numpy>=2.0.0
SpeechRecognition==3.10.0
pyttsx3==2.90
qrcode[pil]==7.4.2
Pillow==10.1.0
pycaw==20220416
comtypes==1.2.0
arabic-reshaper==3.0.0
python-bidi==0.4.2
pyperclip==1.8.2
autopy==0.51.1
# winsound - مدمج في Python
