Django==4.2.7
opencv-python-headless
mediapipe==0.10.21
pyautogui==0.9.54
numpy
SpeechRecognition==3.10.0
pyttsx3==2.90
qrcode[pil]
Pillow
pycaw==20220416
comtypes==1.2.0
arabic-reshaper==3.0.0
python-bidi==0.4.2
pyperclip==1.8.2
autopy==0.51.1
